<%= link_to "New Creation", new_camp_path %>

<div class="camps_list">
  <% @camps.each do |camp| %>
    <div class="camp_card">
      <div class="camp_card-img"></div>
      <% id = camp.id %>
      <h1><%= link_to camp.name, camp_path(camp.id) %></h1>
      <span class="camp_card-desc"><%= camp.description %></span>
    </div>
  <% end %>
</div>
