<div class="camps_list">

  <% if !user_signed_in? %>
  <div class="row">
     <div class="panel panel-default">
      <div class="panel-heading">Welcome to the Bazaar!</div>
      <div class="panel-body">
          <p>Congratulations! You've stumbled upon something special! <b><a href="http://www.urbanburn.se">THE BIZARRE STAR BAZAAR</a></b> is a festival in Stockholm where all content is created by the participants. It is a part of a network of regional events connected to the Burning Man festival in Black Rock, Nevada. It is a blank canvas, on which we are all invited to come paint. Over 5 days, we will fill up 2000 sqm at Nobelberget, creating art, music, dance, performance and play - all shaped and initiated by the community (that means you).</p>
          <p>This site is where we dream up our creations for the Bazaar. A creation is human expression, shared. This expression can be anything you like. The form, whatever you will! You can weld, build, paint or even create robotic underwater 3-D architecture. Maybe you know how to tell a great story. Or give a wonderful massage. Or make an awesome sandwich! Perhaps you give amazing hugs? Your creation is you, bringing what you want to give. What will you do at the Bazaar? Go ahead, create!</p>
          <p>To learn more about Urban Burn Stockholm - The Bizaar Star Bazaar <b><a href="http://www.urbanburn.se">visit the website</a></b> where you can also buy a ticket. You should also <b><a href="https://www.facebook.com/events/1707014599514309/">attend the event on Facebook</a></b> and <b><a href="https://www.facebook.com/urbanburnsthlm/">like our page</a></b> to stay in touch.</p>
        </div>
      </div>
  </div>
  <% end %>

  <% @camps.each do |camp| %>
  <a href="<%= url_for(camp) %>">
    <div class="camp_card">
      <div class="camp_card-img"></div>
      <% id = camp.id %>
      <h1><%= truncate(camp.name, length: 50) %></h1>
      <span class="camp_card-desc"><%= truncate(camp.description, length: 130) %></span>
    </div>
  </a>
  <% end %>
</div>
