.camps_list {
  clear: both;
  margin: 0 -10px;

  &:before,
  &:after {
    content: "";
    line-height: 0;
    clear: both;
  }
}

.join_creation {

}

.new_creation {
}

.combo {
  margin-top: 10px;

  &:first-child {
    margin-top: 0;
  }

  label {
    margin-right: 5px;
  }
}